.artist-details-content {
  display: flex;
  flex-direction: row;
  z-index: 1;
  padding-top: 52px;
  margin: 0 10vw 0 10vw;
  height: 100%;
  box-shadow: 0 4px 9px 2px #35353566;
  position: relative;
  background-color: #abcad145;
  text-align: center;
}

.artist-details-info {
  height: 100%;
  width: 40%;
  border-right: 1px solid gainsboro;
  position: relative;
}

.artist-details-releases {
  position: relative;
  height: 100%;
  width: 70%;
}

.artist-details-photo {
  position: static;
  width: 80%;
  box-shadow: 0px 2px 5px 0px #686868b0;
  border-radius: 10px;
}

.artist-details-info-text {
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 26px;
  overflow-wrap: break-word;
  hyphens: auto;
  color: white;
  background: #081d20;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin: 20px;
  display: block;
  padding: 10px 12px;
}

.info-title {
  font-size: 2rem;
  text-align: initial;
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 19px;
}
