.searchBox1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -25px;
}

.searchInput1 {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 1px solid #213a40;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #d7cec8;
  outline: none;
  transition: 0.7s;
}

.searchBox1:hover input {
  width: 450px;
  height: 70px;
  background: white;
  border-radius: 0;
  border: 1px solid #53dbb3;
  color: black
}

.search-bar {
  position: absolute;
  font-size: 26px;
  color: #5acbac;
  transition: 0.2s;
}

.searchBox1:hover .search-bar {
  opacity: 0;
  z-index: -1;
}

/*  BUILT-IN STYLES FOR PLACEHOLDER */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 100;

}

::-moz-placeholder { /* Firefox 19+ */
  color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 100;

}

:-ms-input-placeholder { /* IE 10+ */
  color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 100;

}

:-moz-placeholder { /* Firefox 18- */
  color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 100;

}

:hover::-webkit-input-placeholder {
  color: #B0A18F;
  transition: .9s;
  font-family: Raleway, sans-serif;
  font-weight: 100;

}

:hover::-moz-placeholder { /* Firefox 19+ */
  color: #B0A18F;
  transition: .9s;
  font-family: Raleway, sans-serif;
  font-weight: 100;

}

:hover:-ms-input-placeholder { /* IE 10+ */
  color: #B0A18F;
  transition: .9s;
  font-family: Raleway, sans-serif;
  font-weight: 100;
}

:hover:-moz-placeholder { /* Firefox 18- */
  color: #B0A18F;
  transition: .9s;
  font-family: Raleway, sans-serif;
  font-weight: 100;
}