.wave-svg{
  position: absolute;
  right: -30px;
  top: 138px;
  z-index: -1;
  height: 100%;
  max-height: 95%;
  width: 100%;
  max-width: 100%;
}

.wave-svg2 {
  position: absolute;
  right: 0px;
  top: -734px;
  z-index: -1;
  /* height: 100%; */
}